<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		title Document
	body
		h1 Hello World!
		p Just another paragraph of text
		.foo A div by any other name with a class of foo
			h2 Let's do some math #{5+5}
