extends base

block content
	h1 Shopping List!
	a(href="/items/new") Add an item to the list!
	br
	a(href="/items/search") Search the list
	br
	a(href="/items/all") Delete all items
	ul
		each item in items
			li #{item.name} &nbsp;
				a(href=`/items/${item.id}/edit`) Edit